.notelist{
    display: flex;
    justify-content: center;
    padding:40px 20px;
    width:100%;
    
    margin:auto; 


    @include md{
       
        max-width:900px;
    }
}


.note{
    padding:15px 10px;
    border-bottom:1px solid #d3d3d3;
    cursor:pointer;
    transition: .3s background-color ease-in-out;
    width: 900px;
    &:hover{
        background-color:#eee;
    }

    &:hover .updatedAt{
        display: flex;
    }
}

.note-timestamp{
    display: flex;
    margin-bottom:10px;
 .createdAt{
    font-weight: bold;
    color:$clr-accent;
    margin-right:auto;
  
 }



 .updatedAt{
    font-weight: bold;
    color:$clr-accent;
    display: none;
    transition: .3s display ease-in-out;
    
 }
}


.note-body{
    color:#8a8787;
}




.addButton{
    background-color: coral;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 25px;
    border-radius:35px;
    position:fixed;
    right:55px;
    bottom:55px;
    cursor: pointer;

    span:first-child{
        margin-right:7px;
        z-index: 10;
    }

}

.newnote{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    z-index: 20;
    cursor:pointer;
    top:0;
    left:0;
    padding:40px;
   
    
    .newnote-status{
        font-weight: bold;
        margin-bottom:20px;
    }


    .newnote-form{
        width:100%;
        height: 100%;
        background-color: #fff;
        max-width:650px;
        margin:40px;
        display: flex;
        flex-direction: column;
        border-radius:8px;

        form{
            margin-top:100px;
            display: flex;
            flex-direction: column;
            padding:30px;

            input{
                margin-bottom:30px;
                
            }
        }
    }

} 


input,textarea{
    border:2px solid #ededed;
    border-radius:6px;
    padding:10px;
    

    
}
.newnote-delete-container{
    display: flex;
    justify-content: end;
    .newnote-delete{
        width:50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover svg{
            fill:red;
        }
        svg{
            width:30px;
            height: 30px;
            transition:.3s fill ease-in-out;
        }
    }


}
    .note-btn-container{
        display: flex;
        justify-content: flex-end;
    }
    .note-btn {
        min-width: 35px;
        padding: 5px 15px;
        background-color: #eee;
        border-radius: 6px;
        margin-top: 25px;
        display: inline-block;
    }
